body {
    * {
        box-sizing: border-box;
    }

    .container {
        max-width: 1300px;
        margin: 40px auto;
        padding: 20px;
    }

    button,
    .back-btn {
        display: block;
        width: fit-content;
        margin: 20px 0 0 0;

        color: white;
        background: #0077b6;

        border: none;
        padding: 12px 20px;
        border-radius: 8px;

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease;
    }
}