body .container {
  max-width: 1300px;
  margin: 40px auto;
  padding: 20px;
}
body button,
body .back-btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0 0 0;
  color: white;
  background: #0077b6;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}