body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.container .header {
    display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: center;

    gap: 0 20px;
}

.container .header img {
    max-width: 100px;
}

h1 {
    text-align: center;
    color: #0d3b66;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

h2 {
    color: #144552;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button,
.back-btn {
    background: #0077b6;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

button:hover,
.back-btn:hover {
    background: #023e8a;
}

input[type="file"] {
    margin-top: 10px;
}

.section {
    margin-bottom: 40px;
}

ul {
    padding-left: 20px;
}
