body {
  font-family: Arial, sans-serif;
  background: #f2f4f7;
  margin: 0;
  padding: 0;
}
body .container h1 {
  text-align: center;
  color: #0d3b66;
  margin-bottom: 10px;
}
body .container .actions-btn {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  align-items: center;
  margin: 0 0 20px 0;
}
body .container .actions-btn > button {
  margin: 0;
}
body .container .actions-btn .switch-display {
  background: #0077b6;
  color: white;
}
body .container .actions-btn .switch-display:hover {
  background: #023e8a;
}
body .container .actions-btn .switch-display .icon {
  font-size: 18px;
}
body .container .switch-direction {
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
}
body .container .switch-direction > button {
  width: 50%;
  color: #0077b6;
  background-color: #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  font-size: 20px;
  font-weight: 600;
  border-radius: 0;
}
body .container .switch-direction > button.active {
  background-color: #cdcdcd;
  border-bottom: 3px solid #0077b6;
}
body .container .switch-direction > button:not(.active):hover {
  background-color: #d6d6d6;
  border-bottom: 3px solid #d6d6d6;
}
body .container .result-container .bloc-aller.show,
body .container .result-container .bloc-retour.show {
  display: block;
}
body .container .result-container .bloc-aller.hidden,
body .container .result-container .bloc-retour.hidden {
  display: none;
}
body .container .liste-matos {
  display: block;
}
body .container .liste-matos ul li {
  margin: 0 0 6px 0;
}
body .container .liste-matos ul li:last-child {
  margin: 0;
}
body .container .liste-matos ul li .commentaire {
  color: #666;
  font-size: 0.9em;
  margin-top: 4px;
}
body .container {
  /********
   * BLOC *
   ********/
}
body .container .bloc-container {
  display: none;
  flex-direction: column;
  gap: 20px 0;
}
body .container .bloc-container.show {
  display: flex;
}
body .container .bloc-container.hidden {
  display: none;
}
body .container .bloc-container.hide-association .bloc > div:nth-child(2) {
  min-height: 200px;
}
body .container .bloc-container .bloc {
  padding: 15px;
  background-color: #FFF;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 15px;
}
body .container .bloc-container .bloc > div:first-child small {
  display: block;
  color: #666;
}
body .container .bloc-container .bloc > div:nth-child(2) {
  margin: 10px 0;
}
body .container .bloc-container .bloc .personne-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 20px;
  margin: 0 0 10px 0;
  padding: 15px;
  background-color: #efefef;
  border: 1px solid #000;
  border-radius: 10px;
}
body .container .bloc-container .bloc .personne-container:last-child {
  margin: 0;
}
body .container .bloc-container .bloc .personne-container .personne-name {
  font-weight: bold;
}
body .container .bloc-container .bloc .personne-container .personne-demande {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
body .container .bloc-container .bloc .personne-container .personne-demande .demande-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
}
body .container .bloc-container .bloc .personne-container .personne-demande .demande-line .fake-checkbox {
  font-size: 20px;
}
body .container .bloc-container .bloc .personne-container .break {
  flex-basis: 100%;
  height: 0;
}
body .container .bloc-container .bloc .personne-container .commentaire {
  color: #666;
  font-size: 0.9em;
  margin-top: 4px;
}
body .container {
  /***********
   * TABLEAU *
   ***********/
}
body .container .repartition-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
body .container .repartition-table.show {
  display: table;
}
body .container .repartition-table.hidden {
  display: none;
}
body .container .repartition-table.hide-association tbody tr td:first-child {
  width: 200px;
}
body .container .repartition-table.hide-association tbody tr td:nth-child(2) {
  width: 115px;
}
body .container .repartition-table tr td strong + small {
  display: block;
  color: #666;
}
body .container .repartition-table th,
body .container .repartition-table td {
  border: 1px solid #ccc;
  padding: 12px;
  vertical-align: top;
}
body .container .repartition-table th {
  background: #0077b6;
  color: white;
}
body .container .repartition-table .personne-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 20px;
  margin: 0 0 10px 0;
  padding: 15px;
  background-color: #efefef;
  border: 1px solid #000;
  border-radius: 10px;
}
body .container .repartition-table .personne-container:last-child {
  margin: 0;
}
body .container .repartition-table .personne-container .personne-name {
  font-weight: bold;
}
body .container .repartition-table .personne-container .personne-demande {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
body .container .repartition-table .personne-container .personne-demande .demande-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
}
body .container .repartition-table .personne-container .personne-demande .demande-line .fake-checkbox {
  font-size: 20px;
}
body .container .repartition-table .personne-container .break {
  flex-basis: 100%;
  height: 0;
}
body .container .repartition-table .personne-container .commentaire {
  color: #666;
  font-size: 0.9em;
  margin-top: 4px;
}
body .container .repartition-table .placeholder {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 10px 0;
}
body .container .repartition-table .placeholder:last-child {
  margin: 0;
}
body .container .repartition-table .placeholder .placeholder-name {
  display: block;
  width: 58%;
}
body .container .repartition-table .placeholder .placeholder-demande {
  display: flex;
  flex-direction: row;
  width: 42%;
}
body .container .repartition-table .placeholder .placeholder-demande .placeholder-line {
  border-left: 1px solid #ccc;
  flex: 1 1 0;
  width: 33.3333333333%;
}
body .container .repartition-table .placeholder .placeholder-demande .placeholder-line .placeholder-label {
  position: relative;
  font-size: 12px;
  padding: 2px 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
body .container .repartition-table .placeholder .placeholder-demande .placeholder-line .placeholder-value {
  margin: 0 0 40px 0;
}

/**************
 * IMPRESSION *
 **************/
.print-btn {
  margin: 0 0 10px 0;
  background: #2a9d8f;
}

.print-btn:hover {
  background: #1f776d;
}

@media print {
  body {
    background: white;
  }
  body .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  body .container h1,
  body .container .actions-btn,
  body .container .switch-direction,
  body .container .back-btn {
    display: none;
  }
}
@media (max-width: 580px) {
  body .container .bloc-container {
    display: flex;
  }
  body .container .repartition-table {
    display: none;
  }
}