body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    margin: 0;
    padding: 0;

    .container {
        h1 {
            text-align: center;
            color: #0d3b66;
            margin-bottom: 10px;
        }

        .actions-btn {
            display: flex;
            flex-direction: row;
            gap: 0 20px;
            align-items: center;
            margin: 0 0 20px 0;

            >button {
                margin: 0;
            }

            .switch-display {
                background: #0077b6;
                color: white;

                &:hover {
                    background: #023e8a;
                }

                .icon {
                    font-size: 18px;
                }
            }
        }

        .switch-direction {
            display: flex;
            flex-direction: row;
            margin: 0 0 20px 0;

            >button {
                width: 50%;
                color: #0077b6;
                background-color: #e5e5e5;
                border-bottom: 3px solid #e5e5e5;
                font-size: 20px;
                font-weight: 600;
                border-radius: 0;

                &.active {
                    background-color: #cdcdcd;
                    border-bottom: 3px solid #0077b6;
                }

                &:not(.active):hover {
                    background-color: #d6d6d6;
                    border-bottom: 3px solid #d6d6d6;
                }
            }
        }

        .result-container {
            .bloc-aller,
            .bloc-retour {
                &.show {
                    display: block;
                }

                &.hidden {
                    display: none;
                }
            }
        }

        .liste-matos {
            display: block;

            ul {
                li {
                    margin: 0 0 6px 0;

                    &:last-child {
                        margin: 0;
                    }

                    .commentaire {
                        color: #666;
                        font-size: 0.9em;
                        margin-top: 4px;
                    }
                }
            }
        }

        /********
         * BLOC *
         ********/
        .bloc-container {
            display: none;
            flex-direction: column;
            gap: 20px 0;

            &.show {
                display: flex;
            }

            &.hidden {
                display: none;
            }

            &.hide-association .bloc {
                >div:nth-child(2) {
                    min-height: 200px;
                }
            }

            .bloc {
                padding: 15px;
                background-color: #FFF;
                border: 1px solid rgb(231, 231, 231);
                border-radius: 15px;

                >div:first-child small {
                    display: block;
                    color: #666;
                }


                >div:nth-child(2) {
                    margin: 10px 0;
                }

                .personne-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px 20px;

                    margin: 0 0 10px 0;
                    padding: 15px;

                    background-color: #efefef;
                    border: 1px solid #000;
                    border-radius: 10px;

                    &:last-child {
                        margin: 0;
                    }

                    .personne-name {
                        font-weight: bold;
                    }

                    .personne-demande {
                        display: flex;
                        flex-direction: column;
                        gap: 15px 0;

                        .demande-line {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0 10px;

                            .fake-checkbox {
                                font-size: 20px;
                            }
                        }
                    }

                    .break {
                        flex-basis: 100%;
                        height: 0;
                    }

                    .commentaire {
                        color: #666;
                        font-size: 0.9em;
                        margin-top: 4px;
                    }
                }
            }
        }

        /***********
         * TABLEAU *
         ***********/
        .repartition-table {
            width: 100%;
            border-collapse: collapse;
            background: white;

            &.show {
                display: table;
            }

            &.hidden {
                display: none;
            }

            &.hide-association {
                tbody tr {
                    td:first-child {
                        width: 200px;
                    }

                    td:nth-child(2) {
                        width: 115px;
                    }
                }
            }

            tr td strong+small {
                display: block;
                color: #666;
            }

            th,
            td {
                border: 1px solid #ccc;
                padding: 12px;
                vertical-align: top;
            }

            th {
                background: #0077b6;
                color: white;
            }

            .personne-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: 5px 20px;

                margin: 0 0 10px 0;
                padding: 15px;

                background-color: #efefef;
                border: 1px solid #000;
                border-radius: 10px;

                &:last-child {
                    margin: 0;
                }

                .personne-name {
                    font-weight: bold;
                }

                .personne-demande {
                    display: flex;
                    flex-direction: column;
                    gap: 15px 0;

                    .demande-line {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0 10px;

                        .fake-checkbox {
                            font-size: 20px;
                        }
                    }
                }

                .break {
                    flex-basis: 100%;
                    height: 0;
                }

                .commentaire {
                    color: #666;
                    font-size: 0.9em;
                    margin-top: 4px;
                }
            }

            .placeholder {
                display: flex;
                flex-direction: row;
                gap: 0 10px;

                background: #f9f9f9;
                border: 1px solid #ccc;
                border-radius: 5px;

                margin: 0 0 10px 0;

                &:last-child {
                    margin: 0;
                }

                .placeholder-name {
                    display: block;
                    width: 58%;
                }

                .placeholder-demande {
                    display: flex;
                    flex-direction: row;
                    width: 42%;

                    .placeholder-line {
                        border-left: 1px solid #ccc;
                        flex: 1 1 0;
                        width: calc(100% / 3);

                        .placeholder-label {
                            position: relative;
                            font-size: 12px;
                            padding: 2px 10px;
                            border-bottom: 1px solid #ccc;
                            text-align: center;
                        }

                        .placeholder-value {
                            margin: 0 0 40px 0;
                        }

                    }
                }
            }
        }
    }
}




/**************
 * IMPRESSION *
 **************/
.print-btn {
    margin: 0 0 10px 0;
    background: #2a9d8f;
}

.print-btn:hover {
    background: #1f776d;
}

@media print {
    body {
        background: white;

        .container {
            max-width: 100%;
            margin: 0;
            padding: 0;

            h1,
            .actions-btn,
            .switch-direction,
            .back-btn {
                display: none;
            }
        }
    }
}

@media (max-width: 580px) {
    body .container {
        .bloc-container {
            display: flex;
        }

        .repartition-table {
            display: none;
        }
    }
}